body{
  background-color: black;
}

.box{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  color: #FFF;
  margin-top: 10%;
}

img{
  width: 100%;
}

.colore{
  color: brown;
}
